<div class="page-content-inner">
					<div class="form-title">
						Attributes
						<div class="pull-right right-action-buttons">
							<a href="company-add-attribute.html" class="btn btn-blue btn-sm" title="Add New Attribute">
								Add New Attribute
							</a>							
						</div>
					</div>
					
					<div class="main-form">
					
						<div class="row">						
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="white-box">
									<div class="white-box-title">
										<div class="checkbox-theme checkbox-color">
											<input id="attribute-1" class="styled" type="checkbox">
											<label for="attribute-1"> Single Check</label>
										</div>
										<div class="pull-right">
											<a href="company-edit-attribute.html" class="action-icon fa fa-pencil" title=""></a>
											<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
										</div>
									</div>
									<div class="white-box-detail">
										<div class="left-navigation width100">									
											<div class="white-sub-box width100">
												<div class="address-icon">
													<i class="fa fa-toggle-on"></i>
												</div>
												<div class="white-box-label address-label">Status</div>
												<div class="white-box-data address-data">												
													<select class="form-control form-control-status" id="select-1">
														<option selected="selected" value="0">Active</option>
														<option value="1">Disabled</option>
													</select>
												</div>
											</div>				
										</div>
									</div>
								</div>				
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="white-box">
									<div class="white-box-title">
										<div class="checkbox-theme checkbox-color">
											<input id="attribute-2" class="styled" type="checkbox">
											<label for="attribute-2"> Number Text</label>
										</div>
										<div class="pull-right">
											<a href="company-edit-attribute.html" class="action-icon fa fa-pencil" title=""></a>
											<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
										</div>
									</div>
									<div class="white-box-detail">
										<div class="left-navigation width100">									
											<div class="white-sub-box width100">
												<div class="address-icon">
													<i class="fa fa-toggle-on"></i>
												</div>
												<div class="white-box-label address-label">Status</div>
												<div class="white-box-data address-data">												
													<select class="form-control form-control-status" id="select-1">
														<option selected="selected" value="0">Active</option>
														<option value="1">Disabled</option>
													</select>
												</div>
											</div>				
										</div>
									</div>
								</div>				
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="white-box">
									<div class="white-box-title">
										<div class="checkbox-theme checkbox-color">
											<input id="attribute-3" class="styled" type="checkbox">
											<label for="attribute-3">Ios version</label>
										</div>
										<div class="pull-right">
											<a href="company-edit-attribute.html" class="action-icon fa fa-pencil" title=""></a>
											<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
										</div>
									</div>
									<div class="white-box-detail">
										<div class="left-navigation width100">									
											<div class="white-sub-box width100">
												<div class="address-icon">
													<i class="fa fa-toggle-on"></i>
												</div>
												<div class="white-box-label address-label">Status</div>
												<div class="white-box-data address-data">												
													<select class="form-control form-control-status" id="select-1">
														<option selected="selected" value="0">Active</option>
														<option value="1">Disabled</option>
													</select>
												</div>
											</div>				
										</div>
									</div>
								</div>				
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div class="white-box">
									<div class="white-box-title">
										<div class="checkbox-theme checkbox-color">
											<input id="attribute-4" class="styled" type="checkbox">
											<label for="attribute-4">Adidas</label>
										</div>
										<div class="pull-right">
											<a href="company-edit-attribute.html" class="action-icon fa fa-pencil" title=""></a>
											<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
										</div>
									</div>
									<div class="white-box-detail">
										<div class="left-navigation width100">									
											<div class="white-sub-box width100">
												<div class="address-icon">
													<i class="fa fa-toggle-on"></i>
												</div>
												<div class="white-box-label address-label">Status</div>
												<div class="white-box-data address-data">												
													<select class="form-control form-control-status" id="select-1">
														<option selected="selected" value="0">Active</option>
														<option value="1">Disabled</option>
													</select>
												</div>
											</div>				
										</div>
									</div>
								</div>				
							</div>
						</div>
					</div>
					<div class="main-form">
						<div class="pull-left">
							<a href="#" class="btn btn-green btn-md">
								Add
							</a>
							<a href="#" class="btn btn-gray btn-md">
								Delete
							</a>
						</div>
					</div>
				</div>