<div class="page-content-inner">
					<div class="form-title">
						Products
						<div class="pull-right right-action-buttons">
							<a href="company-add-product.html" class="btn btn-blue btn-sm" title="Add New Product">
								Add New Product
							</a>							
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
							<div class="global-form-group">
                                <input type="text" class="form-control" placeholder="Keyword">								
								<i class="fa fa-key form-icon"></i>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">Item Name, Itemcode</option>
                                    <option value="1">Itemcode 1</option>
                                    <option value="2">Itemcode 2</option>
                                    <option value="3">Itemcode 3</option>
                                    <option value="4">Itemcode 4</option>
                                    <option value="5">Itemcode 5</option>
                                </select>
								<i class="fa fa-gears form-icon"></i>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">Is Public? </option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
								
								<i class="fa fa-user form-icon"></i>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">Account Category</option>
									<option value="0">All Categories</option>
									<option value="1">Promotional Products</option>
									<option value="61">Printed Material</option>
									<option value="62">Media</option>
									<option value="65">Packaging &amp; Printing</option>
									<option value="63">Printing Company</option>
									<option value="64">Bindery &amp; Folding</option>
									<option value="66">Die Cutting</option>
                                </select>
								<i class="fa fa-gears form-icon"></i>
							</div>
						</div>
					</div>
					
					
					<div class="main-form">
						<div class="product-detail">
							<img class="product-image" src="images/shipkee-testimonial.jpg">
							<div class="product-description">
								<div class="title">
									<div class="checkbox-theme checkbox-color">
										<input id="product-1" class="styled" type="checkbox">
										<label for="product-1"> Magenu Box</label>
									</div>
									
									<div class="pull-right">
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-copy" title="" data-original-title="Copy"></a>
										<a data-toggle="tooltip" href="company-edit-product.html" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="row">												
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-barcode"></i>
											</div>
											<div class="white-box-label address-label">Code</div>
											<div class="white-box-data address-data">Box</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tags"></i>
											</div>
											<div class="white-box-label address-label">Class</div>
											<div class="white-box-data address-data">First</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-toggle-on"></i>
											</div>
											<div class="white-box-label address-label">Status</div>
											<div class="white-box-data address-data">												
												<select class="form-control form-control-status" id="select-1">
													<option selected="selected" value="0">Active</option>
													<option value="1">Disabled</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-detail">
							<img class="product-image" src="images/shipkee-testimonial.jpg">
							<div class="product-description">
								<div class="title">
									<div class="checkbox-theme checkbox-color">
										<input id="product-2" class="styled" type="checkbox">
										<label for="product-2"> White 4.0000" x 2.0000" </label>
									</div>
									<div class="pull-right">
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-copy" title="" data-original-title="Copy"></a>
										<a data-toggle="tooltip" href="company-edit-product.html" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="row">												
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-barcode"></i>
											</div>
											<div class="white-box-label address-label">Code</div>
											<div class="white-box-data address-data">510581</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tags"></i>
											</div>
											<div class="white-box-label address-label">Class</div>
											<div class="white-box-data address-data">First</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-toggle-on"></i>
											</div>
											<div class="white-box-label address-label">Status</div>
											<div class="white-box-data address-data">												
												<select class="form-control form-control-status" id="select-1">
													<option selected="selected" value="0">Active</option>
													<option value="1">Disabled</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>	
						<div class="product-detail">
							<img class="product-image" src="images/shipkee-testimonial.jpg">
							<div class="product-description">
								<div class="title">
									<div class="checkbox-theme checkbox-color">
										<input id="product-3" class="styled" type="checkbox">
										<label for="product-3"> Magenu Box</label>
									</div>
									
									<div class="pull-right">
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-copy" title="" data-original-title="Copy"></a>
										<a data-toggle="tooltip" href="company-edit-product.html" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="row">												
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-barcode"></i>
											</div>
											<div class="white-box-label address-label">Code</div>
											<div class="white-box-data address-data">Box</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tags"></i>
											</div>
											<div class="white-box-label address-label">Class</div>
											<div class="white-box-data address-data">First</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-toggle-on"></i>
											</div>
											<div class="white-box-label address-label">Status</div>
											<div class="white-box-data address-data">												
												<select class="form-control form-control-status" id="select-1">
													<option selected="selected" value="0">Active</option>
													<option value="1">Disabled</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="product-detail">
							<img class="product-image" src="images/shipkee-testimonial.jpg">
							<div class="product-description">
								<div class="title">
									<div class="checkbox-theme checkbox-color">
										<input id="product-4" class="styled" type="checkbox">
										<label for="product-4"> White 4.0000" x 2.0000" </label>
									</div>
									<div class="pull-right">
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-copy" title="" data-original-title="Copy"></a>
										<a data-toggle="tooltip" href="company-edit-product.html" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="row">												
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-barcode"></i>
											</div>
											<div class="white-box-label address-label">Code</div>
											<div class="white-box-data address-data">510581</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tags"></i>
											</div>
											<div class="white-box-label address-label">Class</div>
											<div class="white-box-data address-data">First</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-toggle-on"></i>
											</div>
											<div class="white-box-label address-label">Status</div>
											<div class="white-box-data address-data">												
												<select class="form-control form-control-status" id="select-1">
													<option selected="selected" value="0">Active</option>
													<option value="1">Disabled</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="main-form">
						<div class="form-button">
							<div class="form-button-label">Immediate Action</div>
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">Select Action</option>
									<option value="1">Action 1</option>
									<option value="2">Action 2</option>
                                </select>								
								<i class="fa fa-tags form-icon"></i>
							</div>
						</div>
						<div class="pull-left">
							<a href="company-products.html" class="btn btn-green btn-md">
								Ok
							</a>
							<a href="company-products.html" class="btn btn-gray btn-md">
								Cancel
							</a>
						</div>
					</div>
				</div>