@{
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
}

@*<div class="row dashboard-box">						
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="@Url.Action("Account","User")" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-file-text-o"></i>
										<div class="menu-dashboard-title">Accounts</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="/User/Contact" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-user"></i>
										<div class="menu-dashboard-title">Contacts</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="/User/Products" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-gears"></i>
										<div class="menu-dashboard-title">Products</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="/User/Attributes" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-inbox"></i>
										<div class="menu-dashboard-title">Attributes</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-users"></i>
										<div class="menu-dashboard-title">Users</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-cubes"></i>
										<div class="menu-dashboard-title">Roles</div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-files-o"></i>
										<div class="menu-dashboard-title">RFQ's</div>
									</div>
								</a>
							</div>							
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-gavel"></i>
										<div class="menu-dashboard-title">Auction's</div>
									</div>
								</a>
							</div>							
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-ticket"></i>
										<div class="menu-dashboard-title">Create RFQ</div>
									</div>
								</a>
							</div>							
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
							<div class="menu-dashboard">
								<a href="#" class="menu-dashboard-content">
									<div class="mds2">
										<i class="fa fa-ticket"></i>
										<div class="menu-dashboard-title">Create Auction</div>
									</div>
								</a>
							</div>							
						</div>
					</div>*@