
@{
    
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
}

<link href="~/Content/treePlug/zTreeStyle.css" rel="stylesheet" />
<link href="~/Content/jQueryAutocomplete/Autocomplete.css" rel="stylesheet" />
<link href="~/Content/Multiselect/multi-select.css" rel="stylesheet" />

<div id="mainContainer" class="display-none"  ng-controller="productController">
    
    <div id="ProductList" ng-show="CurrentMode==Mode.List">

@{Html.RenderPartial("~/Views/User/Products/_ProductList.cshtml");}

        </div>


    <div id="_AddEdit" ng-show="CurrentMode==Mode.AddEdit">

@{Html.RenderPartial("~/Views/User/Products/_AddEditProduct.cshtml");}
        </div>
    


    </div>
<script src="~/Scripts/treePlug/jquery.ztree.core-3.5.js"></script>
<script src="~/Scripts/treePlug/jquery.ztree.excheck-3.5.js"></script>
<script src="~/Scripts/jQueryAutocomplete/jquery.autocomplete.js"></script>
<script src="~/Scripts/treePlug/TreeView_AutoComplete.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<script src="~/Scripts/App/Directives/Common.js"></script>
<script src="~/Scripts/App/Directives/treeView.js"></script>



<script src="~/Scripts/App/Services/User/Product/ProductService.js"></script>
<script src="~/Scripts/App/Controllers/User/Product/ProductController.js"></script>

