<div class="page-content-inner">
					<div class="form-title">
						Roles
						<div class="pull-right right-action-buttons">
							<a class="btn btn-blue btn-sm" data-toggle="modal" data-target="#add-roles">
								Add new Roles
							</a>
						</div>
					</div>
					<div class="white-box">
						<div class="white-box-title">
							Management
							<div class="pull-right">
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>			
							</div>
						</div>
						<div class="white-box-detail roll-permission">
							<div class="left-navigation">
								<div class="white-sub-box ">
									<div class="white-box-label">Title</div>
									<div class="white-box-data">Create Shipment</div>
									<div class="white-box-data">Create Pickup</div>
									<div class="white-box-data">My Orders</div>
									<div class="white-box-data">Track Shipment</div>
									<div class="white-box-data">My Drafts</div>
									<div class="white-box-data">My Favourites</div>
									<div class="white-box-data">Address Book</div>
									<div class="white-box-data">My Cart</div>
									<div class="white-box-data">My Invoices</div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">View</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Edit</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Delete</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="white-box">
						<div class="white-box-title">
							Finance
							<div class="pull-right">
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>			
							</div>
						</div>
						<div class="white-box-detail roll-permission">
							<div class="left-navigation">
								<div class="white-sub-box ">
									<div class="white-box-label">Title</div>
									<div class="white-box-data">Create Shipment</div>
									<div class="white-box-data">Create Pickup</div>
									<div class="white-box-data">My Orders</div>
									<div class="white-box-data">Track Shipment</div>
									<div class="white-box-data">My Drafts</div>
									<div class="white-box-data">My Favourites</div>
									<div class="white-box-data">Address Book</div>
									<div class="white-box-data">My Cart</div>
									<div class="white-box-data">My Invoices</div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">View</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Edit</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Delete</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="white-box">
						<div class="white-box-title">
							Staff
							<div class="pull-right">
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-pencil" title="" data-original-title="Edit"></a>
								<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>			
							</div>
						</div>
						<div class="white-box-detail roll-permission">
							<div class="left-navigation">
								<div class="white-sub-box ">
									<div class="white-box-label">Title</div>
									<div class="white-box-data">Create Shipment</div>
									<div class="white-box-data">Create Pickup</div>
									<div class="white-box-data">My Orders</div>
									<div class="white-box-data">Track Shipment</div>
									<div class="white-box-data">My Drafts</div>
									<div class="white-box-data">My Favourites</div>
									<div class="white-box-data">Address Book</div>
									<div class="white-box-data">My Cart</div>
									<div class="white-box-data">My Invoices</div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">View</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Edit</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
								<div class="white-sub-box">
									<div class="white-box-label">Delete</div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
									<div class="white-box-data"><div class="permision yes"></div></div>
									<div class="white-box-data"><div class="permision no"></div></div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>