@{
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
}

<div class="page-content-inner">
					<div class="form-title">
						Quotes
						<div class="pull-right right-action-buttons">
							<a href="company-create-quote.html" class="btn btn-blue btn-sm" title="Add New Quote">
								Add New Quote
							</a>							
						</div>
					</div>
					<div class="form-sub-title">
						<span>All Sent</span>
					</div>
					<div class="row">						
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>						
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>						
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>						
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>						
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>						
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #465365
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
							
								<div class="white-box-footer">
									<div class="heading">30 Replies</div>
									<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs btn-white-box">View Replies</a>
								</div>
							</div>				
						</div>
						
						
					
					</div>
				
					<div class="form-sub-title">
						<span>All Received</span>
					</div>
					<div class="row">						
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #84511
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							
								<div class="white-box-footer">
									<div class="pull-right">
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">Send Reply</a>
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">View Replies</a>
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #84511
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							
								<div class="white-box-footer">
									<div class="pull-right">
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">Send Reply</a>
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">View Replies</a>
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #84511
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							
								<div class="white-box-footer">
									<div class="pull-right">
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">Send Reply</a>
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">View Replies</a>
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Quote #84511
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-gears"></i>
											</div>
											<div class="white-box-label address-label">Category</div>
											<div class="white-box-data address-data">Website</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-tag"></i>
											</div>
											<div class="white-box-label">Product</div>
											<div class="white-box-data">CRM</div>
										</div>								
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-list-ol"></i>
											</div>
											<div class="white-box-label">Quantity</div>
											<div class="white-box-data">1</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-calendar"></i>
											</div>
											<div class="white-box-label">Created Date</div>
											<div class="white-box-data address-data">
												<div class="global-date">												
													<div class="global-year">2016</div>
													<div class="global-month">March 5</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							
								<div class="white-box-footer">
									<div class="pull-right">
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">Send Reply</a>
										<a href="company-quotes-view-reply.html" class="btn btn-green btn-xs">View Replies</a>
									</div>
								</div>
							</div>				
						</div>
						
					</div>
				</div>