@{
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
}

<div class="page-content-inner">
					<div class="form-title">
						Contacts
						<div class="pull-right right-action-buttons">
							<a href="company-add-contact.html" class="btn btn-blue btn-sm" title="Add New Contact">
								Add New Contact
							</a>							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">All Accounts</option>
                                    <option value="1">Account 1</option>
                                    <option value="2">Account 2</option>
                                    <option value="3">Account 3</option>
                                    <option value="4">Account 4</option>
                                    <option value="5">Account 5</option>
                                </select>
								
								<i class="fa fa-gears form-icon"></i>
							</div>
						</div>
					</div>
					
					<div class="row">						
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Rose Gilchrist
									<div class="pull-right">
										<a href="company-edit-contact.html" class="action-icon fa fa-pencil" title=""></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">	
									<div class="left-navigation width100">	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-building-o"></i>
											</div>
											<div class="white-box-label address-label">Business Name</div>
											<div class="white-box-data address-data">APS Marketing Group</div>
										</div>	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-phone"></i>
											</div>
											<div class="white-box-label">Phone</div>
											<div class="white-box-data">631-491-1110</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-user"></i>
											</div>
											<div class="white-box-label">Designation</div>
											<div class="white-box-data">HR</div>
										</div>	
										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-hospital-o"></i>
											</div>
											<div class="white-box-label">City</div>
											<div class="white-box-data">West Babylon</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-fort-awesome"></i>
											</div>
											<div class="white-box-label">State</div>
											<div class="white-box-data">New York</div>
										</div>						
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Brain Lara
									<div class="pull-right">
										<a href="company-edit-contact.html" class="action-icon fa fa-pencil" title=""></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">	
									<div class="left-navigation width100">	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-building-o"></i>
											</div>
											<div class="white-box-label address-label">Business Name</div>
											<div class="white-box-data address-data">APS Marketing Group</div>
										</div>	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-phone"></i>
											</div>
											<div class="white-box-label">Phone</div>
											<div class="white-box-data">631-491-1110</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-user"></i>
											</div>
											<div class="white-box-label">Designation</div>
											<div class="white-box-data">HR</div>
										</div>	
										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-hospital-o"></i>
											</div>
											<div class="white-box-label">City</div>
											<div class="white-box-data">West Babylon</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-fort-awesome"></i>
											</div>
											<div class="white-box-label">State</div>
											<div class="white-box-data">New York</div>
										</div>						
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									William Aditi
									<div class="pull-right">
										<a href="company-edit-contact.html" class="action-icon fa fa-pencil" title=""></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">	
									<div class="left-navigation width100">	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-building-o"></i>
											</div>
											<div class="white-box-label address-label">Business Name</div>
											<div class="white-box-data address-data">APS Marketing Group</div>
										</div>	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-phone"></i>
											</div>
											<div class="white-box-label">Phone</div>
											<div class="white-box-data">631-491-1110</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-user"></i>
											</div>
											<div class="white-box-label">Designation</div>
											<div class="white-box-data">HR</div>
										</div>	
										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-hospital-o"></i>
											</div>
											<div class="white-box-label">City</div>
											<div class="white-box-data">West Babylon</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-fort-awesome"></i>
											</div>
											<div class="white-box-label">State</div>
											<div class="white-box-data">New York</div>
										</div>						
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									Sneha Aggarwal
									<div class="pull-right">
										<a href="company-edit-contact.html" class="action-icon fa fa-pencil" title=""></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" title="" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">	
									<div class="left-navigation width100">	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-building-o"></i>
											</div>
											<div class="white-box-label address-label">Business Name</div>
											<div class="white-box-data address-data">APS Marketing Group</div>
										</div>	
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-phone"></i>
											</div>
											<div class="white-box-label">Phone</div>
											<div class="white-box-data">631-491-1110</div>
										</div>
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-user"></i>
											</div>
											<div class="white-box-label">Designation</div>
											<div class="white-box-data">HR</div>
										</div>	
										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-hospital-o"></i>
											</div>
											<div class="white-box-label">City</div>
											<div class="white-box-data">West Babylon</div>
										</div>										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-fort-awesome"></i>
											</div>
											<div class="white-box-label">State</div>
											<div class="white-box-data">New York</div>
										</div>						
									</div>
								</div>
							</div>				
						</div>
						
					</div>
				</div>