@{
    Layout = "~/Views/Shared/_LayoutBusinessUser.cshtml";
}

<div class="page-content-inner">
					<div class="form-title">
						Accounts
						<div class="pull-right right-action-buttons">
							<a href="company-add-account.html" class="btn btn-blue btn-sm" title="Add New Account">
								Add New Account
							</a>							
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">All Accounts</option>
                                    <option value="1">Account 1</option>
                                    <option value="2">Account 2</option>
                                    <option value="3">Account 3</option>
                                    <option value="4">Account 4</option>
                                    <option value="5">Account 5</option>
                                </select>
								
								<i class="fa fa-gears form-icon"></i>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="global-form-group">
                                <select class="form-control" id="select-1">
                                    <option selected="selected" value="0">All Categories</option>
                                    <option value="1">Category 1</option>
                                    <option value="2">Category 2</option>
                                    <option value="3">Category 3</option>
                                    <option value="4">Category 4</option>
                                    <option value="5">Category 5</option>
                                </select>
								<i class="fa fa-gears form-icon"></i>
							</div>
						</div>
					</div>
					
					<div class="row">						
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									APS Marketing Group
									<div class="pull-right">
										<a data-toggle="tooltip" href="company-view-account.html" class="action-icon fa fa-eye" data-original-title="View"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>		
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									APS Marketing Group
									<div class="pull-right">
										<a data-toggle="tooltip" href="company-view-account.html" class="action-icon fa fa-eye" data-original-title="View"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>		
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									APS Marketing Group
									<div class="pull-right">
										<a data-toggle="tooltip" href="company-view-account.html" class="action-icon fa fa-eye" data-original-title="View"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>		
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									APS Marketing Group
									<div class="pull-right">
										<a data-toggle="tooltip" href="company-view-account.html" class="action-icon fa fa-eye" data-original-title="View"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>		
									</div>
								</div>
							</div>				
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="white-box">
								<div class="white-box-title">
									APS Marketing Group
									<div class="pull-right">
										<a data-toggle="tooltip" href="company-view-account.html" class="action-icon fa fa-eye" data-original-title="View"></a>
										<a data-toggle="tooltip" href="#" class="action-icon fa fa-trash" data-original-title="Delete"></a>
									</div>
								</div>
								<div class="white-box-detail">
									<div class="left-navigation width100">										
										<div class="white-sub-box width100">
											<div class="address-icon">
												<i class="fa fa-envelope-o"></i>
											</div>
											<div class="white-box-label address-label">Email</div>
											<div class="white-box-data address-data">nickgmfi@aol.com</div>
										</div>		
									</div>
								</div>
							</div>				
						</div>
					</div>
				</div>